.container {
    width: 100%;
    padding: 50px 20px 20px;

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        padding: 30px;

        .item {
            padding: 10px 0;
        }
        .table{
            color: white;
            .bg-green{
                height: 50px;
                background-color: rgba(green, 0.7);
            }
            .bg-blue{
                height: 50px;
                background-color: rgba(blue, 0.7);
            }
        }
    }
}

@media (min-width: 768px) {
    .container {
        padding: 50px 100px 20px;
    }
}

@media (min-width: 1280px) {
    .container {
        padding: 50px 200px 20px;
    }
}
@media (min-width: 1400px) {
    .container {
        .content{
            .table{
                .bg-xxl-green{
                    height: 50px;
                    background-color: rgba(green, 0.7);
                }
                .bg-xxl-blue{
                    height: 50px;
                    background-color: rgba(blue, 0.7);
                }
            }
        }
    }
}